<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
    <h2 class="text-center mx-1 mx-md-4">Sign up</h2>
    <form action="#" class="mx-1 mx-md-4" th:action="@{/register}" th:object="${user}" method="post">
        <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="form3Example1c">First Name</label>
                <input th:field="*{firstName}"  type="text" id="form3Example1c" class="form-control"/>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="form4Example1c">Middle Name</label>
                <input th:field="*{middleName}"  type="text" id="form4Example1c" class="form-control"/>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="form4Example2c">Last Name</label>
                <input th:field="*{lastName}" type="text" id="form4Example2c" class="form-control"/>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="form3Example3c">Your Email</label>
                <input th:field="*{email}" type="email" id="form3Example3c" class="form-control"/>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="form4Example3c">Phone Mobile</label>
                <input th:field="*{mobile}" type="text" id="form4Example3c" class="form-control"/>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
                <label  class="form-label" for="form3Example4c">Password</label>
                <input th:field="*{passwordHash}" type="password" id="form3Example4c" class="form-control"/>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="form3Example4cd">Repeat your password</label>
                <input type="password" id="form3Example4cd" class="form-control"/>
            </div>
        </div>


        <div class="d-flex justify-content-center mb-3">
            <label>
                You do not have an account? <a href="/login-form">Login</a>
            </label>
        </div>

        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="submit" class="btn btn-primary btn-lg" style="background-color: red">Register</button>
        </div>

    </form>
</div>
</body>
</html>